body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #282D35;
}
.navbar {
  background-color: #21222A;
  padding: 20px 30px;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.nav--logo {
  padding-right: 7px;
  width: 30px;
}
.nav--logo_text {
  font-weight: 700;
  color: #61DAFB;
  
  font-size: 1.4rem;
}
.nav--title {
  font-weight: 600;
  color: #DEEBF8;
  font-size: 1.1rem;
}
.navFirst {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}
.main--container {
  padding: 57px 30px 30px 30px;
  color: #FFFFFF;
}
.main--title {
  font-weight: 700;
}
.main--ul {
  font-weight: 400;
}
.main--ul > li::marker {
  color: #61DAFB;
  font-size: 1.5rem;
} 
.main--bg_logo {
  position: absolute;
  filter: #33373E;
}
@media (max-width: 450px) {
  .navbar {
    flex-direction: column;
    align-items: start;
  }
}